<div class="header">
  <h2>Location</h2>
  <div class="user">
    <button mat-raised-button (click)="addData()" class="demo-button">
      Add user
    </button>
    <button mat-raised-button (click)="backClicked()">Back</button>
  </div>
</div>

<div class="body">
  <div class="locaion-info">
    <div class="mb-4 p-8 flex items-center justify-center">
      <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template pTemplate="header">
          <img alt="Card" class="w-full" style="width: 50%; height:50% ;"
            src="../../assets/cc-06 (1)-fotor-bg-remover-20240601102341.png" />
        </ng-template>
        <ng-template pTemplate="title"> {{location.name}} </ng-template>
        <ng-template pTemplate="subtitle"> {{location.city}} </ng-template>
        <p>
          {{location.address}}
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-4 mt-1">
            <p-button label="Edit" class="w-full" styleClass="w-full" />
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="table">
    <div class="mb-4">
      <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text />
      <p-button type="button" icon="pi pi-refresh" (click)="reset()" text />
      <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text />
    </div>
    <p-table class="p-datatable-sm" [value]="students" [paginator]="true" [rows]="5" [first]="first"
      [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" (onPage)="pageChange($event)"
      [rowsPerPageOptions]="[5, 10, 30]">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:25%">No</th>
          <th style="width:25%">Name</th>
          <th style="width:25%">Number</th>
          <th style="width:25%">Email</th>
          <th style="width:25%">Role</th>
          <th style="width:25%">School</th>
          <th style="width:25%">Update</th>
          <th style="width:25%">Delete</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-student let-i="rowIndex">
        <tr>
          <td>{{ i+1 }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.phone_number }}</td>
          <td>{{ student.email }}</td>
          <td><p-tag [value]="student.cricket_role" [severity]="getSeverity(student.cricket_role)"></p-tag></td>
          <td>{{ student.school }}</td>
          <td><p-button icon="pi pi-pencil" (onClick)="updateData(student,student.id)" [rounded]="true" [text]="true" /></td>
          <td><p-button icon="pi pi-trash" (onClick)="deleteRow(student.id)" [rounded]="true" [text]="true" severity="danger" /> </td>
        </tr>
      </ng-template>
      <ng-template #paginatorleft>
        <p-button type="button" icon="pi pi-plus" text />
      </ng-template>
      <ng-template #paginatorright>
        <p-button type="button" icon="pi pi-cloud" text />
      </ng-template>
    </p-table>
  </div>
</div>