@import 'mixins';

.profile-container{
  position: relative;
}
.content{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}


@include large{
    .content {
        justify-content: center;
        align-items: center;
        margin-left: 1em;
    }
}

@include largeAndUp{
    .content {
        margin-left: 1em;
    }
}