<div class="admin-container">
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Users">
    <div class="user-container">
      <div class="header">
        <div class="back">
          <button mat-raised-button (click)="backClicked()">Back</button>
        </div>
      </div>
      <div class="body">
        <div class="left-side" [formGroup]="inviteForm">
          <mat-card appearance="outlined" class="card">
            <h2>User Invite</h2>
            <div class="form">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
              <div class="role-container">
                <h3>User roles</h3>
                <div *ngFor="let item of role" class="roles">
                  <mat-radio-group formControlName="role">
                    <mat-radio-button value="{{item.value}}">
                      {{ item.lable }}
                    </mat-radio-button></mat-radio-group>
                </div>
              </div>
              <div class="location">
                <h3>Location access</h3>
                <ng-container formArryName="locations">
                  <div class="loc-checkbox">
                    <ng-container *ngFor="let loc of location; let i = index">
                      <div class="checkbox-content">
                        <input type="checkbox" value="loc.id" (change)="onCheckboxChange($event,loc.id)">
                        <label>{{loc.name}}{{loc.address}}</label>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
            <button type="submit" (click)="onSubmit()">Submit</button>
          </mat-card>
        </div>
        <div class="right-side">
            <div class="list" *ngFor="let item of users">
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title> {{item.name}} </mat-panel-title>
                    <mat-panel-description>{{item.email}}</mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="hidden">
                    <p>{{item.phone_number}}</p>
                    <button mat-fab aria-label="Example icon button with a delete icon">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>
</div>
