@import 'mixins';

.header{
    display: flex;
    justify-content: flex-end;
    .back{
        margin-right: 1.2em;
        margin-top: 1em;
    }
}
.user-container{
    display: flex;
    flex-direction: column;
    
}